html {
    background: #56A8B9;
    background-image: linear-gradient(180deg, rgb(86, 168, 185) 0%, rgb(51, 92, 100) 100%);
    background-repeat:repeat;
    background-size: auto;
}

nav {
    font-family: Montserrat;
    font-size: 12pt;
    color: white;
    text-align: center;
}
    
header {
    text-align: center;
    
}

section {
    margin-bottom: 50;
}

body {
    width: 960px;
    margin-top: 50px; 
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

a {
   color: aqua;
   letter-spacing: 5px;
    text-decoration: none;
}

a:visited, a:link {
    padding: 5px 5px;
}
a:hover {
    color: orange;
}


a:active {
    color: tan;
}

article{
    color: orange;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12pt;
    text-align: justify;
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
