/* == typography == */

nav,
figcaption {
    font-size: 9pt;
    font-family: monospace;
}


/* == backgrounds == */

body {
    color: black;
    background-color: black;
    margin: auto;
    font-family: monospace;
}

body, html {
    height: 100%;

}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
   height: 100%;
   
}

nav {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: none;
    padding right: none;
    text-align: center;
}

footer {
    text-align: center;
    clear: both;
}

a {
    text-decoration: none;
    text-align: center;
}

a:link,
a:visited {
    color: black;
}

a:hover {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    display: inline;
}

.background {
    background-size: 100%;
    margin: auto;
}

.leftcolumn {
    float: left;
    width: 30%;
    position: relative;
    top: 700px;
    left: 100px;
}

.rightcolumn {
    float: right;
    width: 30%;
    position: relative;
    top: 250px;
    right: 200px;
}

.printcolumn {
    float: right;
    width: 30%;
    position: relative;
    right: 500px;
    top: 100px;
}

.clear {
    clear: both;
    padding-left: 10px;
    padding-top: 0px;
}

.floatleft {
    float: left;
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    position: relative;
    border-radius: 9px;
}

.floatright {
    float: left;
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    position: relative;
    bottom: 500px;
    left: 500px;
    border-radius: 9px;
}

.bottomnav {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
}

.leftbutton {
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
}

.rightbutton {
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 500px;
    left: 500px;
    border-radius: 9px;
}

.picture {
    border-style: solid;
    border-color: black;
    border-width: 10px;
    width: 300px;
}

.brands {
    width: 300px;
}

.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px 20px;
}

.edges {
    text-align: center;
    padding: 10px 20px;
}
