/* == typography == */

h1,
h2,
h3 {
    text-align: center;
}

h1,
h2 {
    color: darkred;
    font-weight: 600;
    font-family: 'Montserrat';
    font-weight: 600;
}

h3 {
    color: gold;
}

h4 {
    text-align: right;
    color: gold;
    font-weight: 100;
    font-family: 'Montserrat';
    font-weight: 500;
    font-kerning: 1pt;
}

.them {
    color: yellow;
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: 500;
}

.me {
    text-align: right
}

/* == backgrounds == */

body {
    margin: auto;
    padding: 50px;
    background-color: black;
    font-family: 'Hepta Slab', serif;
    font-size: 16pt;
    font-weight: 100;
    color: #404547;
    background-image: linear-gradient(#404547, #4293c9);
    background-repeat: no-repeat;
}

main {
    background-color: darkgrey;
    width: 600px;
    height: auto;
    margin: auto;
    padding: 25px;
    overflow: auto;
    border-style: solid;
    border-color: grey;
    border-width: 10pt;
}

div {
    padding: 10px;

}

img {
    max-height: auto;
    max-width: auto;
    margin: auto;
    width: 100%;
    display: block;
}

a,
a:link,
a:visited {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover,
a:active {
    color: gold;
}

button {
    background-color: #4293c9;
    border: none;
    padding: 6px 8px;
    border-radius: 8px;
    margin: auto;
    display: block;
    font-family: 'Montserrat', serif;
    font-size: 12pt;
    font-weight: 600;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.bullseye {
    cursor: url(../images/bullseyeicon.png), auto;
}

.deathemoji {
    cursor: url(../images/deathemoji.png), auto;
}

.heart {
    cursor: url(../images/heart.png), auto;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

footer {
    text-align: center;
    font-size: 9pt;
    padding-top: 100px;
}
